table {
  margin: auto;
  width: 90%;
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
}

table thead {
  position: sticky;
}

table th {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

table .center-col {
  text-align: center;
}

td,
th {
  border-top: 1px solid #dddddd;
  padding: 8px 0;
}

td {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  word-wrap: break-word;
}

tr:hover {
  background-color: rgba(239, 239, 239, 0.7);
}

a.post-tag {
  background-color: #f4f4f4;
  color: currentColor !important;
  display: inline-block;
  margin: 0.35em;
  padding: 0.25rem 0.6rem 0.25rem 0.6rem;
  border-radius: 5px;
  text-decoration: none;
}
